@CHARSET "UTF-8";

.v-horizontallayout-header {
	background: #8ac53e;
	background: -moz-linear-gradient(top, #8ac53e 0%, #599f01 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8ac53e), color-stop(100%,#599f01)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #8ac53e 0%,#599f01 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #8ac53e 0%,#599f01 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #8ac53e 0%,#599f01 100%); /* IE10+ */
	background: linear-gradient(to bottom, #8ac53e 0%,#599f01 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ac53e', endColorstr='#599f01',GradientType=0 );
}

.v-app input.v-textfield.searchbox {
	padding: 9px 30px 8px 8px;
	background-image: url('img/magnify18px.png');
	background-position: right center;
	background-repeat: no-repeat;
}